<!doctype html>
{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0">
    <title>쇼핑몰</title>

    <script src="{% static 'admin/js/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css.map' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'common.css' %}">
    <link rel="stylesheet" href="{% static 'layout.css' %}">
</head>
<body>
<div id="root">
    test
{% include "navbar.html" %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% block content %}
{% endblock %}
</div>
</body>
</html>